.kkk {
  align: center;
  /*padding-left: 10px;*/
  /*width: 50%;*/
  /*margin: 0 auto;*/
}

body {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}
