.done-true {
  text-decoration: line-through;
  color: grey;
}

body {
  background-color: #79d279;
}

div#todolist {
  background-color: #b3e6b3;
  margin-left: 50px;
  margin-top: 70px;
  width: 400px;
  border: 1px solid;
  padding: 20px 20px 40px 40px;
  border-width: 1px;
  border-radius: 15px 50px;
  border-color: #9fdf9f;
}
