div.wrapper {
  width: 500px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  border: 1px solid;
  border-radius: 15px 50px;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}
